.device{
	padding-top: 80px;

	.container{
		display: flex;
		justify-content: space-between;



		img{
			display: block;
		}



		.device__item{
			padding-top: 110px;


			.text{
				max-width: 695px;
			}
			.title-30,
			.text{
				text-align: left;
			}


			.list{
				ul{
					// list-style-image: url(../images/dest/right.png);
					padding-left: 100px;

					li{
						// list-style: inherit;
						padding-bottom: 10px;
						position: relative;

						&:before{
							content: '';
							background: url(../images/dest/ul-1.png) ;
							width: 21px;
							height: 21px;
							position: absolute;
							left:-50px;
						}
					}
				}
			}
		}
	}
}