.posts{
	padding: 80px 0;

	.swiper-posts{

		.container{

			.posts__slide{

				.row{
					display: flex;
					justify-content: space-between;


					.coll-33{
						width: 370px;

						.posts__text{

						}
					}
				}
			}
		}
		

		.pagination-posts{

		}
	}
}