.posts{
	padding: 80px 0;


	.swiper-posts{
		padding: 0 0 150px 0;
		max-width: 1170px;
		

			.posts__slide{

				.row{

					// display: flex;
					// justify-content: space-around;
					
						

					.coll--33{
						max-width: 370px;

						.posts__img{
							position: relative;

							img{
								display: block;
							}

						}
						.calendar{
							position: absolute;
							text-align: center;
							color:$white;
							width: 50px;
							height: 70px;
							bottom:calc(100% - 90px);
							margin-left: 20px;


							&__date{
								padding: 8px 10px;
								background-color: #363636;
								border-radius:3px 3px 0 0;
								font:300 24px $font_montserrat;
								transition: .3s;
							}
							&__month{
								padding: 6px 10px;
								background-color: #252525;
								border-radius: 0 0 3px 3px;
								font:500 12px $font_raleway;
								transition: .3s;
							}
						}
						.posts__text{
							padding: 25px 0 30px 29px;
							transition: .3s;

							.title-20{
								font:400 20px $font_raleway;
								color:$dark;
							}
							.text-14{
								padding: 20px 0 25px;
								// font:300 14px $font_montserrat;
								font-size: 14px;
								color: $font_color;
							}
							.link-posts{
								color:$activ_color;
								font-size: 14px;
								position: relative;
								display: block;

								&:after{
									content: '';
									// display: inline-block;
									position: absolute;
									width: 0;
									height: 0;
									border-style: solid;
									border-width: 4px 0 4px 5px;
									border-color: transparent transparent transparent #c7b299;
									left: 80px;
									right: 0px;
									top: 5px;
								}
							}
						}


						&:hover{
							cursor: pointer;
							.calendar{
								&__date{
									background-color: $activ_color;
								} 
								&__month{
									background-color: $hov_act;
								}
							}
							.posts__text{
								background-color: $dark_brown;

								.title-20{
									color:$white;
								}
							}

						}
					}
				}
			}
		
		

		.swiper-pagination-bullet {
			width: 20px;
			height: 20px;

		}
		.pagination-posts .swiper-pagination-bullet-active {
		    // background: url(../images/dest/left-arr1.png) no-repeat 30% 50%;
		  	
		  	border-color: $hov_act;
		}
		.swiper-pagination-bullet{
			// background: url(../images/dest/right-arr1.png) no-repeat 60% 50%;
			border-radius: 50%;
			border:2px solid #d1d1d1;
			
		}
		.swiper-pagination-bullet:nth-child(1){
			background: url(../images/dest/left-arr1-hov.png) no-repeat 30% 50%;
			// background: url(../images/dest/left-arr1-hov.png) no-repeat 30% 50%;
		}
		.swiper-pagination-bullet:nth-child(2){
			background: url(../images/dest/right-arr1-hov.png) no-repeat 60% 50%;
		}
	}
}