.slider {
    background: url(../images/dest/mountaine.jpg) 50%/cover no-repeat;
    // min-height: 100vh;
    color: $white;
    
    
    .container {
        // max-width: 1200px;
        // padding: 0 15px;
        margin:  0 auto;
        position: relative;
        max-width: 1650px;
    }
    // .slider__title
    &__title {
        font:500 36px $font_raleway;
    }

    // .slider__subtitle

    &__subtitle {
        font:800 52px $font_raleway;
        padding-bottom: 15px;
    }

    // .slider__text

    &__text {
        font:300 16px/1.5 $font_montserrat;
        margin: 0 0 50px 0;
        max-width: 620px;
        text-align: center;
    }

    // .slider__btn-wrapper

    &__btn-wrapper{
        padding: 12px 0 0;


        .button--style{
            font: 800 14px/1.64 $font_raleway;
            padding: 19px 31px;

            &:hover {
                background-color: $hov_act;  
                transition-property: all;
                transition-duration: 0.3s;
                // transition-delay: 0s;
                transition-timing-function: ease-in-out;
            }
        }
        
        // // letter-spacing: .8px;
        // color: $white;
        // // box-shadow: inset 0px -3px 0 0 #736357;
        // background-color: $color_btn;
        
        // border-radius: 5px;
        // text-transform: uppercase;

        
    }

    // .slider__pagination

    // &__pagination {
    //     position: absolute;
        
    // }

    // .slider__prev

    &__prev,
    &__next{
        color: $activ_color;
        transition-property: all;
        transition-duration: 0.1s;
        transition-delay: 0s;
        transition-timing-function: ease-in-out;
        --swiper-navigation-size:81px;
        &:hover {
            color: $hov_act;
        }
    }

    // .slider__next
    // &__next {
    //     color: #d3c1ad;
    //     transition-property: all;
    //     transition-duration: 0.1s;
    //     transition-delay: 0s;
    //     transition-timing-function: ease-in-out;
    //     --swiper-navigation-size:70px;
    //     &:hover {
    //         color: #A9875E;
    //     }
    // }
}
// .swiper-container {
// }
// .main-slider {
// }
// .swiper-wrapper {
// }
.swiper-slide {
    max-width: 1650px;

}
// .container {
// }

.slider-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 372px 0 379px 0;
}
.swiper-pagination {

    &-bullet {
        opacity: 0.5;
        background-color: $white;
        width: 10px;
        height: 10px;
    }
     
    &-bullet-active {
        border: solid 1px #d3c1ad;
        background-color: transparent;
    }
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 44px;
}

// .swiper-button-prev {
// }
// .swiper-button-next {
// }

