.device{
	// padding-top: 20px;

	.container{
		display: flex;
		justify-content: space-between;



		img{
			display: block;
		}



		.device__item{
			padding-top: 80px;


			img{
				padding-left: 55px;
			}

			.title-30{
				padding-top: 105px;
			}
			.text{
				max-width: 695px;
				line-height: 30px;
			}
			.title-30,
			.text{
				text-align: left;
			}


			.list{
				
				ul{
					// list-style-image: url(../images/dest/right.png);
					padding-left: 110px;

					li{
						// list-style: inherit;
						padding-bottom: 15px;
						position: relative;

						&:before{
							content: '';
							background: url(../images/dest/ul-1.png) ;
							width: 21px;
							height: 21px;
							position: absolute;
							left:-50px;
						}
					}
				}
			}
		}
	}
}