.header {
    position: absolute;
    width: 100%;
    top: 37px;
    left: 0;
    z-index: 100;


	&__row {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	
	.container{
		padding: 0 27px;

		.navigation{
			padding-left: 140px;
			&__item {
	            padding: 0 0 0 25px;
	            color: #fff;
	            font-size: 14px;
	            font-weight: 300;
	            line-height: normal;
	        }
			&__item:hover{
				color:$activ_color;
			}
		}
		.search {
		
			// .search__link
			

			&__link + .search__link{
			    padding: 0 0 0 27px;
			   
			}
		}
	}
}