
.header {
    position: absolute;
    width: 100%;
    top: 37px;
    left: 0;
    z-index: 100;

    @include media(500){
    	top:20px;
    }

  
	&__row {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;


	    @include media(1050){
	    	width: calc(50% + 90px);
	    	-webkit-box-pack: end;
	    	    -ms-flex-pack: end;
	    	        justify-content: flex-end;

	    	.logo{
	    		-webkit-box-flex: 1;
	    		    -ms-flex-positive: 1;
	    		        flex-grow: 1;
	    	}

	    	@include media(500){
	    		img{
	    			max-width: 70%;
	    		}
	    	}
	    } 
	}



	
	.container{
		padding: 0 27px;
	
		

		 @include media(1050){
		 	margin:0 0 0 auto;
	    	padding: 0 15px 0 0 !important;

		 	.active{
				left:0px !important;

				span:nth-child(2){
					opacity: 0;
				}
				span:nth-child(1){
					-webkit-transform: translateY(9px) rotate(-135deg);
					    -ms-transform: translateY(9px) rotate(-135deg);
					        transform: translateY(9px) rotate(-135deg);


					@include media(500){
						-webkit-transform: translateY(7px) rotate(-135deg);
						    -ms-transform: translateY(7px) rotate(-135deg);
						        transform: translateY(7px) rotate(-135deg);
					}
				}
				span:nth-child(3){
					-webkit-transform: translateY(-9px) rotate(-45deg);
					    -ms-transform: translateY(-9px) rotate(-45deg);
					        transform: translateY(-9px) rotate(-45deg);

					@include media(500){
						-webkit-transform: translateY(-7px) rotate(-45deg);
						    -ms-transform: translateY(-7px) rotate(-45deg);
						        transform: translateY(-7px) rotate(-45deg);
					}
				}
			}



			#sidebar{
				position: fixed;
				width: 250px;
				height: 100%;
				top:0;
				background-color: $white;
				left: -250px;
				-webkit-transition:all 300ms;
				-o-transition:all 300ms;
				transition:all 300ms;
				

				@include media(500){
					width: 200px;
					left: -200px;
				}


				.sidebar-btn-mobile{
					position: absolute;
					padding: 10px;
					background-color: $white;
					border-radius:0 10px 10px 0;
					left: 250px;
					top:30px;
					cursor: pointer;

					@include media(500){
						padding:8px;
						left: 200px;
					}

					span{
						display: block;
						width: 32px;
						height: 4px;
						background-color: $activ_color;
						border-radius: 5px;
						-webkit-transition: -webkit-transform 5	00ms;
						transition: -webkit-transform 5	00ms;
						-o-transition: transform 5	00ms;
						transition: transform 5	00ms;
						transition: transform 5	00ms, -webkit-transform 5	00ms;


						& + span{
							margin-top: 5px;
						}

						@include media(500){
							height: 2px;
							width: 25px;
						}
					}	
				}

				nav{
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					    -ms-flex-direction: column;
					        flex-direction: column;
					padding-top:27px;


					.navigation__item{
						color:$dark;
						font-size: 20px;
						font-weight: 600;
						padding:9px 0 9px 10px;
						-webkit-transition: .5s;
						-o-transition: .5s;
						transition: .5s;

						@include media(500){
							font-size: 15px;
							padding: 5px 0 5px 10px;
						}

						&:hover{
							color:$activ_color;
							background-color: $dark;
						}
					}
				}
			}
		}



		.navigation{
			padding-left: 140px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			
			@include media(1150){
				padding-left: 0;
			}

			&__item {
	            padding: 0 0 0 25px;
	            color: #fff;
	            font-size: 14px;
	            font-weight: 300;
	            line-height: normal;
	            display: block;
	        }
			&__item:hover{
				color:$activ_color;
			}
		}
		.search {
		
			// .search__link
			&__icon{
				@include media(500){
					max-height: 18px;
				}
			}

			&__link + .search__link{
			    padding: 0 0 0 27px;


			   @include media(500){
					padding-left: 15px;
				}
			}
		}
	}
}