
.posts{
	padding: 75px 0 0px;


	@include media(750){
		padding-top: 40px;
	}
	.text{
		line-height: 25px;

		@include media(750){
			font-size: 14px;
			padding: 0 40px;
			margin-bottom: 20px;
		}
	}
	.swiper-posts{
		padding: 0 0 140px 0;
		max-width: 1190px;
		

		@include media(750){
			padding-bottom: 50px;
		}

			.posts__slide{

				.row{
						
					.coll--33{
						max-width: 370px;
						padding: 0 10px;

						@include media(1110){
							max-width: 33.3%;
						}
						.posts__img{
							position: relative;

							img{
								display: block;


							}

						}
						.calendar{
							position: absolute;
							text-align: center;
							color:$white;
							width: 50px;
							height: 70px;
							bottom:calc(100% - 91px);
							margin-left: 20px;

							@include media(750){
								width: 40px;

								@include media(550){
									margin-left: 10px;
									bottom: calc(100% - 80px);

									@include media(500){
										display: none;
									}
								}
							}

							&__date{
								padding: 4px 10px;
								background-color: #363636;
								border-radius:3px 3px 0 0;
								font:300 24px $font_montserrat;
								-webkit-transition: .3s;
								-o-transition: .3s;
								transition: .3s;

								@include media(750){
									font-size: 16px;
									padding: 4px 5px;
								}
							}
							&__month{
								padding: 6px 10px;
								background-color: #252525;
								border-radius: 0 0 3px 3px;
								font:500 12px $font_raleway;
								-webkit-transition: .3s;
								-o-transition: .3s;
								transition: .3s;

								@include media(750){
									font-size: 12px;
									padding: 4px 5px;
								}
							}
						}
						.posts__text{
							padding: 25px 0 30px 29px;
							-webkit-transition: .3s;
							-o-transition: .3s;
							transition: .3s;

							@include media(750){
								padding: 10px 0 20px 0;
							}

							&--title-20{
								font:400 20px $font_raleway;
								color:$dark;

								@include media(750){
									font-size: 16px;
								}
							}
							&--text-14{
								padding: 17px 0 25px;
								font-size: 14px;
								color: $font_color;
								line-height: 20px;

								@include media(750){
									padding: 10px 0;
									font-size: 12px;
								}
							}
							&--link-posts{
								color:$activ_color;
								font-size: 14px;
								position: relative;
								display: block;

								&:after{
									content: '';
									position: absolute;
									width: 0;
									height: 0;
									border-style: solid;
									border-width: 4px 0 4px 5px;
									border-color: transparent transparent transparent #c7b299;
									left: 80px;
									right: 0px;
									top: 5px;
								}
							}
						}


						&:hover{
							cursor: pointer;
							.calendar{
								&__date{
									background-color: $activ_color;
								} 
								&__month{
									background-color: $hov_act;
								}
							}
							.posts__text{
								background-color: $dark_brown;

								&--title-20{
									color:$white;
								}
							}

						}
					}
				}
			}
		
		

		




		.pagination-posts{
			bottom:20px;
		}
		.pagination-posts .swiper-pagination-bullet-active {
		  	border-color: $hov_act;
		}
			

		.swiper-pagination-bullet{
			width: 20px;
			height: 20px;
			position: relative;
			border-radius: 50%;
			border:2px solid #d1d1d1;

			@include media(500){
				width: 15px;
				height: 15px;
			}
		}
		.swiper-pagination-bullet:nth-child(1):after{
			content: '';
			position: absolute;
			border: solid #d1d1d1;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;
			top:4px;
			right: 3px;
			transform: rotate(135deg);
    		-webkit-transform: rotate(135deg);

    		@include media(500){
    			top:2px;
    			left: 3px;
    			padding: 2px;
    		}
		}
		.swiper-pagination-bullet-active:after{
			border-color: $hov_act !important;
		}
		
		.swiper-pagination-bullet:nth-child(2):after{
			content: '';
			position: absolute;
			border: solid #d1d1d1;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;
			top:4px;
			right: 5px;
			transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);

			@include media(500){
    			top:2px;
    			right: 3.5px;
    			padding: 2px;
    		}
		}
	}
}