$font_color: #8c8c8c;
$dark: #555;
$light_line: #f1eee9;
$activ_color: #c7b299;
$hov_act:#A9875E;
$white: #fff;
$gray_bg: #fbfaf8;
$color_btn:#998675;
$dark_brown:#362F2D;





$font_raleway:'Raleway', verdana, sans-serif;
$font_montserrat:'Montserrat', verdana, sans-serif;